<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Login</title>
        <link rel="stylesheet" href="/static/css/login.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    </head>
    <body>
        <h3>RAT-NET - Internet Cafe</h3>
        <div class="container">
            <div class="row-main">
                <div class="main-login main center">
                    
                    <h5>Login</h5>
                    <form method="post" autocomplete="off">
                        <div class="form-group">
                            <label for="name" class="cols-sm-2 control-label">Username</label>
                            <div class="cols-sm-10">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-user fa " aria-hidden="true"></i></span>
                                    <input type="text" class="form-control" name="uname_login" id="uname_login" />    
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="password1" class="cols-sm-2 control-label">Password</label>
                            <div class="cols-sm-10">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
                                    <input type="password" class="form-control" name="pwd_login" id="pwd_login" required/>    
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <p></p>
                            <input type="submit" value="Login" class="form-control-btn-btn-primary " name="" >
                        </div>
                        <div class="form-group">
                            <p></p>
                            <a href="{{ url_for('auth.register') }}" class="form-control-btn btn-primary">Register</a>
                            <p style="padding:5px;">
                                
                        </div>
                    
                    </form>
                </div>
            </div>
        </div>

    </body>
</html>